@model BeatStreamr.Models.UserProfileImageViewModel


<form asp-action="ProfileImage" asp-controller="Users" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-only"></div>
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="ProfileImagePath" class="control-label"></label>
        <input type="file" asp-for="ProfileImagePath" name="pic" accept="image/*" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}